@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.App {
  width: 30%;
  height: 70vh;
  text-align: center;
  margin: 10vh auto;
  background-color: #5abbe4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5vh;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  color: white;
  box-shadow: 2px 2px 10px gray;
}

#title{
  color: gold;
  font-size: 50px;
}

.row-content{
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // border: 2px solid black;
}

input{
  height: 3vh;
  width: 30%;
  font-size: 15px;;
}

#calculate-button{
  background-color: rgb(252, 228, 92);
  border: none;
  font-weight: bolder;
}

#calculate-button:hover{
  opacity: 90%;
  transition: 0.3s;
}

#total{
  color: gold;
  font-size: 50px;
}

#button-holder{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px;
}
